/*
	****COLORS****
	Primary Pink: #8D3B66
	Secondary Pink: #510B30

	****FONTS****
	font-family: 'Open Sans', sans-serif;
*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	color: #333333;
}

/* navbar */
.navbar {
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

.navbar-item {
	position: absolute;
	margin: 6px 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #8D3B66;
	transition: 0.2s;
}

#logo {
	display: flex;
	background: white;
	margin: 6px 12px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	padding: 6px;
	border: 1px solid #8D3B66;
	border-radius: 6px;
	transition: 0.2s;
}

#logo:hover {
	cursor: pointer;
	background: #8D3B66;
}

#logo:hover a {
	color: white;
}

.search {
	right: 0px;
}

.bar {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: normal;
	padding: 6px;
	margin-right: 6px;
	display: inline-block;
	height: 24px;
	border: 1px solid #8D3B66;
	border-radius: 6px;
}

.search-button {
	position: relative;
	right: 0px;
	height: 24px;
	width: 24px;
	display: inline-block;
	border: 1px solid #8D3B66;
	border-radius: 6px;
}

.icon {
	position: absolute;
	height: 24px;
	width: 24px;
}

div#color {
	display: none;
}

div.search-button:hover div#color {
	display: inline;
}

.button {
	border: 1px solid #8D3B66;
	padding: 6px;
	background: #8D3B66;
	border-radius: 6px;
	color: white;
	transition: 0.2s;
}

/* actual page */
h1 {
	margin: 12px 0px;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

#name {
	font-size: 36px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 60px;
}

.art {
	width: 240px;
	height: 240px;
}

#albums-list{
	display: grid;
	grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
	padding-top: 60px;
	margin: 0px 300px 0px 300px;
}

.alb {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.album-art {
	display: flex;
	flex-direction: column;
	padding-bottom: 6px;
}

.album-title {
	padding-bottom: 18px;
}

.art {
	border-radius: 6px;
}

.song-link {
	margin-bottom: 3px;
}

/* bottom */
footer {
   width: 100%;
   height: 60px; 
   margin-top: 72px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.link-bar {
	padding: 18px;
	display: flex;
	justify-content: center;
}

.link {
	margin: 0px 48px;
	padding: 12px;
	border: 1px solid white;
	transition: 0.2s;
}

.link:hover {
	cursor: pointer;
	border: 1px solid #8D3B66;
	border-radius: 6px;
}