/*
	****COLORS****
	Primary Pink: #8D3B66
	Secondary Pink: #510B30

	****FONTS****
	font-family: 'Open Sans', sans-serif;
*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

/* top */
.navbar {
	position: relative;
	width: 100%;
	height: 60px;
}

.navbar-item {
	position: absolute;
	margin: 6px 12px;
}

#logo {
	background: white;
	margin: 6px 12px;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 30px;
	color: #8D3B66;
}

.search {
	right: 0px;
}

.bar {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: normal;
	padding: 6px;
	display: inline-block;
	height: 36px;
	border-radius: 6px;
	border: 1px solid #8D3B66;
}

.search-button {
	right: 0px;
	height: 36px;
	width: 36px;
	display: inline-block;
}

#icon {
	width: 100%;
	height: auto;
	
}

.button {
	border: 1px solid black;
	padding: 6px;
	background: #8D3B66;
	border-radius: 6px;
	color: white;
}

/* actual page */
#name {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 36px;
}

.art {
	width: 240px;
	height: 240px;
}

#albums-list {
	display: grid;
	grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
	padding-top: 18px;
	margin: 0px 120px 0px 120px;
}

.alb {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.album-art {
	display: flex;
	flex-direction: column;
	padding-bottom: 6px;
}

.album-title {
	padding-bottom: 18px;
}

.art {
	border-radius: 3%;
}

/* bottom */
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:48px; 
}

.link-bar {
	display: grid;
	grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
}

.advertise-link{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.privacy-link{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contact-link{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
