/*
	***COLORS***
	Primary Pink: #8D3B66
	Secondary Pink: #510B30
	Off-White: #F7F7FF

	***FONTS***
	font-family: 'Open Sans', sans-serif;
*/

body{
	font-family: 'Open Sans', sans-serif;
}
#home-search{
	margin: 0 auto;
    width: 360px;
    height: 24px;
}

#AZLyrics{
	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Julius Sans One', sans-serif;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin: 36px auto;
	margin-top: 60px;
	letter-spacing: 12px;
}

#AZLyrics:5-child(){
	color: #8D3B66;
}


#popular{
	text-align: center;
	margin: 36px auto;
	display: grid;
	justify-items:center;
	margin-top: 84px
}

#label{
	font-size: 18px;
	color: #8D3B66;
}

.link-bar{
	/**
   position:fixed;
   bottom:0;
   width:100%;
   height:48px; 
   **/
   display:flex;
   flex-direction:row;
   justify-content:center;

}

.footer-link{
	margin: 36px;
	margin-bottom: 0px
}


#home-albums{
	/**
	display: grid;
	grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
	padding-top: 18px;
	margin: 0px 120px 0px 120px;
	**/
	margin-top: 24px;
	display: grid;
	grid-column-gap: 36px;
	grid-row-gap: 36px;
	grid-template-areas:
	"a b c"
	"d e f";

}

#item1{
	grid-area:a;
	opacity: 0.9;
	position: relative;
}


#item2{
	grid-area:b;	
}

#item3{
	grid-area:c;
}

#item4{
	grid-area:d;
}

#item5{
	grid-area:e;
}

#item6{
	grid-area:f;
	opacity: 0.9;
}


.name{
	color: #000000;
	font-weight: bold;
	display: none;
	position: absolute;
	z-index: -1;
	text-align: center;
}





#album-pic:hover{
	transition: 0.24s;
	opacity: 0.5;
	cursor: pointer;
}


.album-pic1:hover + #name1{
	display: block;
}

.album-pic2:hover + #name2{
	display: block;
}

.album-pic3:hover + #name3{
	display: block;
}

.album-pic4:hover + #name4{
	display: block;
}

.album-pic4:hover + #name4{
	display: block;
}

.album-pic5:hover + #name5{
	display: block;
}

.album-pic6:hover + #name6{
	display: block;
}



.home-album-item{
	display: grid;
	width: 180px;
	height: 180px;
}

#album-pic{
	width: 180px;
	height: 180px;
	border-radius: 3%;
}





