/*
	****COLORS****
	Primary Pink: #8D3B66
	Secondary Pink: #510B30

	****FONTS****
	font-family: 'Open Sans', sans-serif;
*/

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	color: #333333;
}

/* navbar */
.navbar {
	position: relative;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

.navbar-item {
	position: absolute;
	margin: 6px 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #8D3B66;
	transition: 0.2s;
}

#logo {
	display: flex;
	background: white;
	margin: 6px 12px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	padding: 6px;
	border: 1px solid #8D3B66;
	border-radius: 6px;
	transition: 0.2s;
}

#logo:hover {
	cursor: pointer;
	background: #8D3B66;
}

#logo:hover a {
	color: white;
}

.search {
	right: 0px;
}

.bar {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: normal;
	padding: 6px;
	margin-right: 6px;
	display: inline-block;
	height: 24px;
	border: 1px solid #8D3B66;
	border-radius: 6px;
}

.search-button {
	position: relative;
	right: 0px;
	height: 24px;
	width: 24px;
	display: inline-block;
	border: 1px solid #8D3B66;
	border-radius: 6px;
}

.icon {
	position: absolute;
	height: 24px;
	width: 24px;
}

div#color {
	display: none;
}

div.search-button:hover div#color {
	display: inline;
}

.button {
	border: 1px solid #8D3B66;
	padding: 6px;
	background: #8D3B66;
	border-radius: 6px;
	color: white;
	transition: 0.2s;
}

.button:hover {
	position: relative;
	cursor: pointer;
	background: white;
	color: #8D3B66;
}

/* actual page */
.big-box {
	margin: 0% 25% 0% 25%;
}

.box {
	border: 1px solid #8D3B66;
	border-radius: 6px;
	background: white;
	width: 100%;
	padding: 12px;
	font-size: 18px;
}

.artist-item {
	padding: 6px 0px 6px 0px;
}

.song-item {
	padding: 9px 0px 9px 0px;
}

.song-lyrics {
	font-size: 12px;
}

a, a:visited {
	text-decoration: none;
	color: #8D3B66;
}

a:hover {
	text-decoration: underline;
}

/* bottom */
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 48px;
   margin-bottom: 18px;
}

.link-bar {
	display: flex;
	justify-content: center;
}

.link {
	margin: 0px 48px;
	padding: 12px;
	border: 1px solid white;
	transition: 0.2s;
}

.link:hover {
	cursor: pointer;
	border: 1px solid #8D3B66;
	border-radius: 6px;
}
